# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Configurações do VS Code
.vscode/

# Configurações do PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db